body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/* Navbar */
.navbar-nav img {
    width: 30px;
    height: 30px;
    margin: -15px 15px -15px;
}
