<div class="container">
    <br>
    <div class="col-sm-3">
        <form>
            <div class="form-group">
                <strong>Locations</strong> <span ng-show="filterSet">(<a ng-click="clearFilter()">clear filter</a>)</span>
                <div class="checkbox" ng-repeat="dataSource in dataSources">
                    <label>
                      <input type="checkbox" ng-model="dataSource.checked" ng-change="updateFilters()"> {{dataSource.name}}
                    </label>
                </div>
            </div>
        </form>
    </div>

    <div class="col-sm-9">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th class="col-sm-4">Beer</th>
                    <th class="col-sm-3">Location</th>
                    <th class="col-sm-2">Added</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="listing in activeListings | filter:filterListings">
                    <td>{{listing.rawListing}}</td>
                    <td>{{listing.dataSource.name}}</td>
                    <td>{{listing.friendlyCreatedDate}}</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
