<div class="container">
  <div class="col-sm-6 col-sm-offset-3">
    <h1><span class="fa fa-sign-in"></span> Login</h1>

    <form>
      <div class="form-group">
        <label>email</label>
        <input type="text" class="form-control" ng-model="email">
      </div>
      <div class="form-group">
        <label>password</label>
        <input type="password" class="form-control" ng-model="password">
      </div>

      <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>
      <button class="btn btn-warning btn-lg" ng-click="login(email, password)">Login</button>
    </form>
    <br>
    <p>Need an account? <a href="#/signup">Sign up</a></p>
  </div>
</div>
