<div class="container">
  <div class="col-sm-6 col-sm-offset-3">
    <h1><span class="fa fa-sign-in"></span> Create an account</h1>

    <form id="signup-form">
      <div class="form-inline form-group">
        <div class="form-group">
          <input type="text" name="firstName" placeholder="First name" required class="form-control" ng-model="firstName">
        </div>
        <div class="form-group">
          <input type="text" name="lastName" placeholder="Last name" required class="form-control" ng-model="lastName">
        </div>
      </div>
      <div class="form-group">
        <input type="email" name="email" placeholder="Email" required class="form-control" ng-model="email">
      </div>
      <div class="form-inline form-group">
        <div class="form-group">
          <input type="number" name="zipCode" placeholder="Zip code" required class="form-control" ng-model="zipCode">
        </div>
      </div>
      <div class="form-inline form-group">
        <div class="form-group">
          <input type="password" placeholder="Password" required class="form-control" ng-model="password">
        </div>
        <div class="form-group">
          <input type="password" placeholder="Confirm password" required class="form-control" ng-model="confirmPassword">
        </div>
      </div>
      <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>
      <button type="submit" class="btn btn-warning btn-lg" ng-click="signup()">Create account</button>
    </form>
    <br>
    <p>Already have an account? <a href="#/login">Login</a></p>
  </div>
</div>
